*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
body{
    
    align-items: center;
    margin: auto;
}
.btn-primery{
    padding: 10px 35px;
    border-radius: 12px;
    background-color: #FEA301;
    border: none;
    transition: 1s;
}
.btn-primery:hover{
    transform: scalex(1.05);
}
.btn-primery a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.heading-primery{
    font-size: 56px;
    font-weight: bold;
}
.paragraph-peimery{
    font-size: 20px;
    line-height: 25px;
    margin: 24px 0px;
}

marquee{
    background-color: #F0AA00;
    padding: 15px 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -5px;
}


/* nav style start */
nav{
    width: 100%;
}
.nav-container{
    display: flex;
    max-width: 90%;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    justify-content: space-between;
}
.logo{
    align-items: center;
    display: flex;
    gap: 20px;
}
.logo > img,h1{
    display: inline;
}



.menu ul{
    list-style: none;
    display: inline;
}
.menu li{
    display: inline;
}
.menu li a{
    text-decoration: none;
    margin-right: 32px;
    font-size: 20px;
    font-weight: bold;
}
.menu ul :nth-child(1) a{
    color: #FEA301;
}
.menu ul :nth-child(2) a{
    color: #01ACFD;
}
.menu ul :nth-child(3) a{
    color: #05D4DF;
}
.menu ul :nth-child(4) a{
    color: #5D58EF;
}



.responsive-menu-icon{
    display: none;
}

/* nav style end */


/* hero style start */
.hero-container{
    display: flex;
    max-width: 90%;
    align-items: center;
    margin: auto;
}
.hero-text{
    padding-right:12% ;
}
.hero-text h1{
    font-size: 56px;
    font-weight: bold;
}
.hero-text h1 :first-child{
    color: #FEA301;
}
.hero-text h1 :last-child{
    color:#01ACFD;
}
.hero-text p{
    font-size:20px ;
    line-height: 35px;
}
.hero-text button{
    padding: 10px 35px;
    border-radius: 12px;
    background-color: #000000;
    border: none;
}
.hero-text button a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}


/* hero style end */





/* curriculum style start */
.curriculum{
    background-image: url(assets/bg.png);
    background-position: center;
    background-size: cover;
}
.curriculum-container{
    max-width: 90%;
    align-items: center;
    margin: auto;
}
.curriculum-items{
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    display: grid;
    column-gap: 28px;
}
.curriculum-header{
    text-align: center;
    padding: 60px 0px;
}
.curriculum-header h1{
    font-size: 46px;
}
.curriculum-items div{
    border-radius: 18px;
    padding: 50px;
    box-shadow: inset 0px 1px 10px rgba(95, 95, 95, 0.1);
    transition: 1s;
}
.curriculum-items div:hover{
    transform: scaley(1.05);
}
.curriculum-items h3{
    font-size: 24px;
    margin: 30px 0px;
}
.curriculum-items p{
    font-size: 15px;
    color: #808080;
    line-height: 28px;
    margin-bottom: 30px;
}
.curriculum-items a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.curriculum-items >:nth-child(1){
    background: linear-gradient(#DEF5FF,white);
}
    .curriculum-items >:nth-child(1) a{
        color: #64C8FF;
    }
.curriculum-items >:nth-child(2){
    background: linear-gradient(#FFF4DC,white);
}
    .curriculum-items >:nth-child(2) a{
        color: #F0AA00;
    }
.curriculum-items >:nth-child(3){
    background: linear-gradient(#EEE1FF,white);
}
    .curriculum-items >:nth-child(3) a{
        color: #8700FF;
    }



.curriculum-arrow{
    text-align: center;
}
.curriculum-arrow i{
    background-color: #F0AA00;
    padding: 32px 25px ;
    border-radius: 50%;
    color: white;
    margin: 60px 5px;

}

/* curriculum style end */







/* stories style start */
.stories{
    padding-top: 4rem;
    padding-bottom: 3rem;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(227, 183, 106, 0.659));
}

.stories-container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    background-image: url("../assets/bg.png");
    background-size: cover;
}

.stories-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

.stories-cards> div {
    border-radius: .9rem;
    background-color: #fff;
}

.stories-cards img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.stories-cards {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.stories-big-card {
    grid-row: 1/-1;
    grid-column: 1/3;
}

.stories-cards h2 {
    padding: 1.5rem 1rem;
}

.card_text_size {
    padding: .5rem 1rem;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.stories-big-card p {
    font-size: 15px;
    line-height: 28px;
    color: #666666;
    margin: 1.5rem 1rem;
}
.stories-cards div h4{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin: 1.5rem 1rem;
}
.stories-cards> div button {
    margin: 0 1rem;
    padding: 10px 20px;
    border-radius: 1.5rem;
    background-color: #5D58F0;
    color: #ffffff;
    position: relative;
    top: -22px;
    border: none;
}
.stories-big-card button{
    background-color: #3CD8E8 !important;
}
.stories-cards div:nth-child(2) button{
    background-color: #95B226;
}
.stories-cards div:nth-child(5) button{
    background-color: #95B226;
}

.view_all_btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.view_all_btn button {
    padding: 10px 60px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 16px;
}

/* stories style end */







/* footer style start */
.footer{
    background-color: #01ACFD;
}
.footer-container{
    display: grid;
    grid-template-columns: 50% 25% 20%;
    max-width: 90%;
    margin:0px auto;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0px;

}
.footer-container >div{
    padding:5rem 0rem;
}
.footer-logo{
    display: flex;
}
.footer-logo h2{
    color: white;
    font-size:30px ;
    height: 100%;
}
.footer-container div p{
    color: white;
    margin: 35px 15% 0px 0px;
    font-size: 18px;
    line-height: 30px;
}
.footer-container div h3{
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
}
.footer-container div ul{
    list-style: none;
}
.footer-container div ul a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.footer-container div ul li{
    margin-top: 10px;
}
.footer-container :last-child ul li{
    display: inline;
    margin-right: 10px;
}